POSTGRES_DB=truthbyte_db
POSTGRES_USER=truthbyte_db_user
POSTGRES_PASSWORD=ze5bKdytkWIdrJSExRC0APOfJTH82Oz8

DB_URL=jdbc:postgresql://dpg-d74080dactks7386rk5g-a:5432/truthbyte_db
DB_USERNAME=truthbyte_db_user
DB_PASSWORD=ze5bKdytkWIdrJSExRC0APOfJTH82Oz8

BACKEND_PORT=8081
FRONTEND_PORT=5173

GEMINI_API_KEY=AIzaSyAuODuwn_Cdi05nLzVhJQpXV4oVjzBz-Cs
GEMINI_API_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent

JWT_SECRET=VGhpc0lzQURldk9ubHlKc3duVG9rZW5LZXlDaGFuZ2VJblByb2Q=
JWT_EXPIRATION=86400000

CORS_ORIGINS=http://localhost:5173
